body{
  background-color: #02010a;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Dancing Script', cursive;
}


#cabecera{
  background-color: #5b7989;
  color: white;
  text-shadow: 2px 2px 2px #02010a;
  border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
a{
  color: white;
  text-decoration: none;

}

#imagenCentral{
  background-color: #82c3a6;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
img{
  margin-top: auto;
  box-shadow: 2px 2px;
  color: #02010a;
  margin: 20px;
}

.contenedor{
  align-items: center;
}

@media screen (max-width:900px) {
  .contenedor{
    width: 900px;
  }
}

@media screen (min-Width:900px) {
  .contenedor{
    width: 100%;
  }
}
