body{
  background-color: #02010a;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Dancing Script', cursive;
}
#cabecera{
  background-color: #5b7989;
  float: left;
  color: white;
  text-shadow: 2px 2px 2px #02010a;
  border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  width: 100%;
}
#cabecera a{
  color: white;
  text-align: right;
  text-decoration: none;
}
